

@import url(http://fonts.googleapis.com/css?family=Advent+Pro:200);

article {
	max-width: 1400px;
	margin: 0 auto;
	display: inline-block;
}

#front {

	left: 0px;
	width: 1130px;
	height: 681px  ;
}



@-webkit-keyframes zwiiingnngnggggg {
      from { -webkit-transform: rotateY(0deg) scale(21);}
			80%{text-shadow:0 0 50px #000;}
      to { -webkit-transform: rotateY(0deg) translateZ(210px); }
    }


a{
	text-decoration: none;
	color: #666;
	text-shadow: 1px 1px 0px #666;
}


.logospin {
	
	width: 400px;
	height: 152px;
	top: 50%;
	left: 50%;
	position: absolute;
	margin-left: -200px;
	margin-top: -80px;
	text-align: center;
	background-position:center;
	background-repeat:no-repeat;
	font-size: 2.5rem;
	z-index:2;
    -webkit-animation: zwiiingnngnggggg 2s /*infinite linear*/;
	-webkit-transform-style: preserve-3d; 
	color:transparent;
	font-family: 'Advent Pro', sans-serif;

	text-shadow: 1px 1px 0px #666;

}



.logospin a{
	
	width: 300px;
	height: 152px;
	top: 50%;
	left: 50%;
	position: ralative
	margin-left: -250px;
	margin-top: -60px;


	background-repeat:no-repeat;
	font-size: 2.5rem;
	z-index:2;
    -webkit-animation: zwiiingnngnggggg 2.5s /*infinite linear*/;
	-webkit-transform-style: preserve-3d; 
	color:transparent;
	font-family: 'Advent Pro', sans-serif;

	text-shadow: 1px 1px 0px #CC0099;

}




.logospin span{
	
	width: 100px;
	height: 50px;
	top: 50%;
	left: 50%;
	position: ralative
	margin-left: -200px;
	margin-top: -60px;


	background-repeat:no-repeat;
	background-color: red
	color:white;
	padding: 50px;
	font-size: 3rem;
	z-index:2;
    -webkit-animation: zwiiingnngnggggg 2.5s /*infinite linear*/;
	-webkit-transform-style: preserve-3d; 
	
	font-family: 'Advent Pro', sans-serif;

	text-shadow: 1px 1px 0px red;

}

